[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #7F52FF;
    --md-accent-fg-color:        #7F52FF;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #7F52FF;
    --md-accent-fg-color:        #FFFFFF;
}
